.card {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(176, 63, 63, 0.83);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-image {
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .card-title {
  font-family: Arial, sans-serif;
  margin: 0;
  color: rgb(121, 116, 116);
}

.card .card-text {
  font-family: Arial, Helvetica, sans-serif;
  color: blue;
}

/* .button {
  background-color: hsl(200, 100%, 50%);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
} */

.student {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  padding: 10px;
  border: 1px solid rgb(195, 109, 109);
}

.student p {
  margin: 0;
}

.welcome-message {
  font-size: 2.5rem;
  background-color: green;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}

.login-prompt {
  font-size: 2.5rem;
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}

.list-category {
  font-size: 2.5em;
  font-weight: bold;
  color: firebrick;
  margin-bottom: 10px;
  text-align: center;
  border: 3px solid pink;
  border-radius: 5px;
  background-color: rgb(187, 95, 95);
}

.list-items li {
  font-size: 2em;
  list-style: none;
  color: green;
  text-align: center;
  margin: 0;
}

.list-items li:hover {
  color: hsl(0, 0%, 45%);
  cursor: pointer;
}
