.card {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(176, 63, 63, 0.83);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-image {
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .card-title {
  font-family: Arial, sans-serif;
  margin: 0;
  color: rgb(121, 116, 116);
}

.card .card-text {
  font-family: Arial, Helvetica, sans-serif;
  color: blue;
}

/* .button {
  background-color: hsl(200, 100%, 50%);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
} */

.student {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  padding: 10px;
  border: 1px solid rgb(195, 109, 109);
}

.student p {
  margin: 0;
}

.welcome-message {
  font-size: 2.5rem;
  background-color: green;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}

.login-prompt {
  font-size: 2.5rem;
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}

.list-category {
  font-size: 2.5em;
  font-weight: bold;
  color: firebrick;
  margin-bottom: 10px;
  text-align: center;
  border: 3px solid pink;
  border-radius: 5px;
  background-color: rgb(187, 95, 95);
}

.list-items li {
  font-size: 2em;
  list-style: none;
  color: green;
  text-align: center;
  margin: 0;
}

.list-items li:hover {
  color: hsl(0, 0%, 45%);
  cursor: pointer;
}

.counter-container {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.count-display {
  font-size: 10em;
  margin-top: 0;
  margin-bottom: 50px;
}

.counter-button {
  width: 150px;
  height: 50px;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0px 5px;
  background-color: blue;
  color: azure;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.counter-button:hover {
  background-color: hsl(197, 100%, 48%);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
.color-picker-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 50px;
  font-size: 3rem;
}

.color-display {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid hsl(0, 0%, 80%);
  border-radius: 25px;
  margin-bottom: 25px;
  transition: 0.25s ease;
}

.color-display p {
  color: hsl(0, 0%, 20%);
  font-size: 2rem;
  text-align: center;
}

label {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="color"] {
  width: 75px;
  height: 50px;
  padding: 5px;
  border-radius: 10px;
  border: 3px solid hsl(0, 0%, 80%);
}
